@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Wellcome to the lottery main page.</p>
<br>
<p>You have the following options:</p>
<a asp-action="Submit">Submit ticket</a> 
<br>
<a asp-action="ViewSubmission">View submissions</a>
<br>
<a asp-action="GenerateNewTickets">Generate new tickets</a>

<p>If this is your first time opening the app, you should start by generating new tickets. The app will run even if you haven't, but there is a risk of the conflicting ID numbers. </p>
